    <footer class="blog-footer fixed-bottom">
        <div class="p-4 p d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-black border-bottom box-shadow">
            <h5 class="my-0 position-absolute mr-md-auto text-white end-50 font-weight-normal">WhatMeDO</h5>
        </div>
    </footer>