<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-black border-bottom box-shadow">
    <div class = "my-0  text-bold mr-md-auto  h4 font-size">
        <a href="/" class = "text-decoration-none text-white">WhatMeDO</a>
    </div>

    <a class="btn btn-outline-primary text-white position-absolute end-0 my-0 m-3 ml-md-auto" href="/login">Sign up</a>
</div>